@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.x{
    font-family: 'Raleway', sans-serif;
    background-color:#168aad ;
    padding: 3%;
    }

.container{
    display: flex;
    font-family: 'Raleway', sans-serif;
    
}.container div{
    margin: 10px;
    padding: 10px;    
    background-color: aquamarine;
    font-family: 'Raleway', sans-serif;
}

